<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        // From https://medium.com/@reachansari/google-chart-example-with-spring-boot-cd25ead09bd3
        const measurements = /*[[${measurements}]]*/'noValue';
        const events = /*[[${events}]]*/'noValue';
        const maxMeasurement = parseInt(/*[[${maxMeasurement}]]*/'noValue') + 5;

        google.charts.load('current', {'packages':['corechart', 'table']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawMeasurementsTable);
        google.charts.setOnLoadCallback(drawEventsTable);

        // TODO too much repetition in this script. Refactor.

        function drawChart() {

            // Create the data table.
            const data = new google.visualization.DataTable();
            // X axis of the timeseries
            data.addColumn('datetime', 'Date');
            // Columns for measurements
            data.addColumn('number', 'High');
            data.addColumn('number', 'Low');
            data.addColumn('number', 'Heart Rate');
            // Columns for events
            data.addColumn('number', 'Event');
            // Tooltip Columns
            data.addColumn({ type: 'string', role: 'annotation' });
            data.addColumn({ type: 'string', role: 'annotationText' });

            // Add measurements series
            Object.keys(measurements).forEach(function(key) {
                const epochDate = parseInt(key);
                data.addRow([
                    new Date(epochDate), // X axis
                    measurements[key][0], measurements[key][1], measurements[key][2], // measurement
                    null, null, null // events
                ]);
            });
            data.sort([{column: 0}]);

            // Add events series
            Object.keys(events).forEach(function(key) {
                const epochDate = parseInt(key);
                const description = events[key];
                data.addRow([
                    new Date(epochDate), // X axis
                    null, null, null, // measurements
                    maxMeasurement / 10, `${description.substring(0, 5)}...`, description // events (they're bars that go all the way to the top

                ]);
            });

            const options = {
                // title: 'Blood Pressure Over Time',
                width: '100%', // here as a placeholder in case I want to change it later
                height: '100%', // here as a placeholder in case I want to change it later
                legend: { position: 'right' },
                curveType: 'function',
                tooltip: { isHtml: 'true' },
                vAxis: {
                    maxValue: maxMeasurement,
                    viewWindow: { max: maxMeasurement }
                },
                hAxis: {
                    format: 'dd/MM HH:mm:ss'
                },
                seriesType: 'line',
                series: {
                    0: { lineWidth: 4, pointSize: 5, color: 'black' },
                    1: { lineWidth: 3, pointSize: 4, color: 'blue'},
                    2: { lineWidth: 1, pointSize: 2, color: '#D3D3D3'},
                    3: { type: 'bars', tooltip: false, color: '#ffaaa8' }
                },
                chartArea: { left: 5, top: 5, width: '90%', height: '90%' }
            };

            const chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        function drawMeasurementsTable() {
            const data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'High (mmHg)');
            data.addColumn('number', 'Low (mmHg)');
            data.addColumn('number', 'Heart Rate (BPM)');

            Object.keys(measurements).forEach(function(key) {
                const epochDate = parseInt(key);
                data.addRow([ new Date(epochDate), measurements[key][0], measurements[key][1], measurements[key][2] ]);
            });
            data.sort([{column: 0, desc: true}]);

            var table = new google.visualization.Table(document.getElementById('table_measurements_div'));
            table.draw(data, {
                showRowNumber: false,
                width: '100%',
                allowHtml: true,
                page: 'enable',
                pageSize: 30,
                pagingButtons: 'auto'
            });
        }

        function drawEventsTable() {
            const data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('string', 'Description');

            Object.keys(events).forEach(function(key) {
                const epochDate = parseInt(key);
                data.addRow([ new Date(epochDate), events[key] ]);
            });
            data.sort([{column: 0, desc: true}]);

            var table = new google.visualization.Table(document.getElementById('table_events_div'));
            table.draw(data, {
                showRowNumber: false,
                width: '100%',
                allowHtml: true,
                page: 'enable',
                pageSize: 30,
                pagingButtons: 'auto'
            });
        }

    </script>

    <title>My Blood Pressure</title>
</head>
<body>

<div th:replace="fragments/header :: header (${useremail})"></div>
<br>

<div class="container-fluid">
    <div class="container-fluid text-left">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Blood Pressure Over Time</h5>
                <div id="chart_div"></div>
                <br>
                <a class="btn btn-primary"
                   style="white-space: nowrap"
                   href="/new" autofocus>Add Measurement</a>
                <a class="btn btn-outline-primary"
                   style="white-space: nowrap"
                   href="/new-event">Add Event</a>
            </div>
        </div>
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="card shadow-sm col-sm-6">
                    <div class="card-body">
                        <h6 class="card-title">Measurements</h6>
                        <div id="table_measurements_div"></div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="card shadow-sm col-sm-5">
                    <div class="card-body">
                        <h6 class="card-title">Events</h6>
                        <div id="table_events_div"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="footer">
    <br><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>