<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        // From https://medium.com/@reachansari/google-chart-example-with-spring-boot-cd25ead09bd3
        const measurements = /*[[${userData.measurementList}]]*/'noValue';
        const events = /*[[${userData.eventList}]]*/'noValue';
        const maxMeasurement = parseInt(/*[[${userData.maxMeasurement}]]*/'noValue') + 15;

        google.charts.load('current', {'packages':['corechart', 'table']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawMeasurementsTable);
        google.charts.setOnLoadCallback(drawEventsTable);

        window.onload = function () {
            let highAverage = 0;
            let lowAverage = 0;
            let bpmAverage = 0;
            Object.keys(measurements).forEach(function(key) {
                highAverage += measurements[key].high;
                lowAverage += measurements[key].low;
                bpmAverage += measurements[key].heartRate;
            });

            const length = Object.keys(measurements).length;
            $('#high-average').text(Math.round(highAverage / length));
            $('#low-average').text(Math.round(lowAverage / length));
            $('#bpm-average').text(Math.round(bpmAverage / length));
            $('#number-events').text(Object.keys(events).length);
        }

        // TODO too much repetition in this script. Refactor.
        function drawChart() {

            // Create the data table.
            const data = new google.visualization.DataTable();
            // X axis of the timeseries
            data.addColumn('datetime', 'Date');
            // Columns for measurements
            data.addColumn('number', 'High');
            data.addColumn('number', 'Low');
            data.addColumn('number', 'Heart Rate');
            // Columns for events
            data.addColumn('number', 'Event');
            // Tooltip Columns
            data.addColumn({ type: 'string', role: 'annotation' });
            data.addColumn({ type: 'string', role: 'annotationText' });

            // Add measurements series
            Object.keys(measurements).forEach(function(key) {
                const epochDate = measurements[key].createdDate;
                data.addRow([
                    new Date(epochDate), // X axis
                    measurements[key].high, measurements[key].low, measurements[key].heartRate, // measurement
                    null, null, null // events
                ]);
            });
            data.sort([{column: 0}]);

            // Add events series
            Object.keys(events).forEach(function(key) {
                const epochDate = events[key].createdDate;
                const description = events[key].description;
                data.addRow([
                    new Date(epochDate), // X axis
                    null, null, null, // measurements
                    maxMeasurement / 10, `${description.substring(0, 10)}...`, description // events (they're bars that go all the way to the top
                ]);
            });

            const options = {
                // title: 'Blood Pressure Over Time',
                width: '100%', // here as a placeholder in case I want to change it later
                height: '100%', // here as a placeholder in case I want to change it later
                legend: { position: 'right' },
                curveType: 'function',
                tooltip: { isHtml: 'true' },
                vAxis: {
                    maxValue: maxMeasurement,
                    viewWindow: { max: maxMeasurement }
                },
                hAxis: {
                    format: 'dd/MM HH:mm:ss'
                },
                seriesType: 'line',
                series: {
                    0: { lineWidth: 4, pointSize: 5, color: 'black' },
                    1: { lineWidth: 3, pointSize: 4, color: 'blue'},
                    2: { lineWidth: 1, pointSize: 2, color: '#D3D3D3'},
                    3: { type: 'bars', tooltip: false, color: '#ffaaa8' }
                },
                chartArea: { width: '80%', height: '80%' }
            };

            const chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        const tableOptions = {
            showRowNumber: false,
            width: '100%',
            allowHtml: false,
            // page: 'enable',
            // pageSize: 30,
            // pagingButtons: 'auto'
        };

        function drawMeasurementsTable() {
            const data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'High (mmHg)');
            data.addColumn('number', 'Low (mmHg)');
            data.addColumn('number', 'Heart Rate (BPM)');

            Object.keys(measurements).forEach(function(key) {
                const epochDate = measurements[key].createdDate;
                data.addRow([ new Date(epochDate), measurements[key].high, measurements[key].low, measurements[key].heartRate ]);
            });
            data.sort([{column: 0, desc: true}]);

            var table = new google.visualization.Table(document.getElementById('table_measurements_div'));
            table.draw(data, tableOptions);
        }

        function drawEventsTable() {
            const data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('string', 'Description');

            Object.keys(events).forEach(function(key) {
                const epochDate = events[key].createdDate;
                data.addRow([ new Date(epochDate), events[key] ]);
            });
            data.sort([{column: 0, desc: true}]);

            var table = new google.visualization.Table(document.getElementById('table_events_div'));
            table.draw(data, tableOptions);
        }

    </script>

    <title>My Blood Pressure</title>
</head>
<body>

<div th:replace="fragments/header :: header (${useremail})"></div>
<br>

<div class="container-fluid">
    <div class="container-fluid text-left">
        <div class="card mb-auto shadow-sm">
            <div class="card-header">
                <div class="card-title row">
                    <h4 class="col col-sm-8">Blood Pressure Over Time</h4>
                    <div class="float-right col col-sm-4">
                        <form th:action="@{/filter}">
                            <select id="daysOffset" class="form-control col-sm-6" autofocus
                                    th:name="daysOffset" onchange="this.form.submit()">
                                <option th:selected="${search.daysOffset} == 1" value="1">Last day</option>
                                <option th:selected="${search.daysOffset} == 3" value="3">Last 3 days</option>
                                <option th:selected="${search.daysOffset} == 5" value="5">Last 5 days</option>
                                <option th:selected="${search.daysOffset} == 10" value="10">Last 10 days</option>
                                <option th:selected="${search.daysOffset} == 30" value="30">Last 30 days</option>
                                <option th:selected="${search.daysOffset} == 999999" value="999999">Everything</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="chart_div"></div>
                <br>
                <a class="btn btn-primary"
                   style="white-space: nowrap"
                   href="/new">Add Measurement</a>
                <a class="btn btn-outline-primary"
                   style="white-space: nowrap"
                   href="/new-event">Add Event</a>
                <a class="btn btn-secondary"
                   style="white-space: nowrap"
                   th:href="${'/snapshots/new?startDate=' + userData.startDate + '&endDate=' + userData.endDate}">
                    Save Snapshot
                </a>
            </div>
        </div>
        <br>
        <div class="container-fluid row">
            <div class="col-sm-3">
                <div class="card mb-auto shadow-sm">
                    <div class="card-header">
                        <div class="card-title row">
                            <h4 class="col col-sm-8">High Average</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <h1 id="high-average" class="text-center" style="font-size: 500%"></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-auto shadow-sm">
                    <div class="card-header">
                        <div class="card-title row">
                            <h4 class="col col-sm-8">Low Average</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <h1 id="low-average" class="text-center" style="font-size: 500%"></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-auto shadow-sm">
                    <div class="card-header">
                        <div class="card-title row">
                            <h4 class="col-sm-8">Hear Rate Average</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <h1 id="bpm-average" class="text-center" style="font-size: 500%"></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card mb-auto shadow-sm">
                    <div class="card-header">
                        <div class="card-title row">
                            <h4 class="col-sm-8">Number of Events</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <h1 id="number-events" class="text-center" style="font-size: 500%"></h1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-auto shadow-sm">
                        <div class="card-header">
                            <h4 class="card-title">Measurements</h4>
                        </div>
                        <div class="card-body">
                            <div id="table_measurements_div"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card mb-auto shadow-sm">
                        <div class="card-header">
                            <h4 class="card-title">Events</h4>
                        </div>
                        <div class="card-body">
                            <div id="table_events_div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="footer">
    <br><br>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>