<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detailed Data for Measurements and Events</h5>
        </div>
        <div class="modal-body">
            <div class="container-fluid" id="measurementsDialog">
                <div class="col-sm-12" th:if="${not #lists.isEmpty(userData.measurementList)}">
                    <div class="card mb-auto shadow-sm">
                        <div class="card-header">
                            <h4 class="card-title">Measurements</h4>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Create Date</td>
                                        <td>Blood Pressure</td>
                                        <td>Heart Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="measurement : ${userData.measurementList}">
                                        <td th:text="${#dates.format(measurement.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
                                        <td th:text="${'&#9738; ' + measurement.high + ' x ' + measurement.low}"></td>
                                        <td th:text="${'&#128420; ' + measurement.heartRate}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <div class="card mb-auto shadow-sm">
                        <div class="card-header">
                            <h4 class="card-title">Events</h4>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Create Date</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="event : ${userData.eventList}">
                                        <td th:text="${#dates.format(event.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
                                        <td th:text="${event.description}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</body>
</html>