<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Add Event</title>
</head>
<body>

<div th:replace="fragments/header :: header (${useremail})"></div>
<br>

<div class="container" id="page">
    <form th:object="${event}" th:method="post">
        <br>
        <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">Event description</label>
            <textarea th:field="*{description}" class="form-control col-sm-8" id="description"
                   placeholder="Brief text describing an event you find relevant to your blood pressure measurements"
                   type="text" rows="2" maxlength="144" autofocus></textarea>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div th:if="${#fields.errors('*').size()}">
            <br>
            <div class="form-group alert alert-warning" th:each="err : ${#fields.errors('*')}">
                <span th:text="${err}">An error</span>
            </div>
        </div>

        <p></p>

        <div class="form-group">
            <div class="float-md-none">
                <button class=" btn btn-primary" type="submit">Save</button>
                <a class="btn btn-secondary" href="/">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid" id="footer">
    <br><br>
</div>

<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>