<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/webjars/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Add Measurement</title>
</head>
<body>

<div th:replace="~{fragments/header :: header (${useremail})}"></div>
<br>

<div class="container" id="page">
    <form th:object="${measurement}" th:method="post">
        <br>
        <div class="form-group row">
            <label for="high" class="col-sm-4 col-form-label">High (mmHg)</label>
            <input th:field="*{high}" class="form-control col-sm-8" id="high"
                   placeholder="132" type="number" maxlength="3" autofocus/>
        </div>
        <div class="form-group row">
            <label for="low" class="col col-sm-4">Low (mmHg)</label>
            <input th:field="*{low}" class="form-control col-sm-8" id="low"
                   placeholder="84" type="number" maxlength="3"/>
        </div>
        <div class="form-group row">
            <label for="heartRate" class="col col-sm-4">Heart Rate (BPM)</label>
            <input th:field="*{heartRate}" class="form-control col-sm-8" id="heartRate"
                   placeholder="70" type="number" maxlength="3"/>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div th:if="${#fields.errors('*').size()}">
            <br>
            <div class="form-group alert alert-warning" th:each="err : ${#fields.errors('*')}">
                <span th:text="${err}">An error</span>
            </div>
        </div>

        <p></p>

        <div class="form-group">
            <div class="float-md-none">
                <button class=" btn btn-primary" type="submit">Save</button>
                <a class="btn btn-secondary" href="/">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid" id="footer">
    <br><br>
</div>

<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
